{
  "parser": "babel-eslint",
  "env": { "browser": true, "es6": true},
  "plugins": [
    "react"
  ],
  "globals": {
    "module": false
  },
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "rules": {
  }
}